Virtual functions
template classes
Multiple inheritance
namespaces DONE
Programmer defined exceptions
Unions
Operator overloading
Abstract classes
Copy constructors (deep , shallow copy)
Bit structures
Advanced pre-processor directives
C++ Object Construction Sequence
Initializer List
C++ References
Pointers
Inheritance (recipe is a consumable)
Destructors DONE
Memory management DONE(i think)
Header files (inclusion guards) DONE
Arrays and pointers
Friendship DONE
Global variables
Private, Public, Protected (not protected yet, everything else done)
QMenu
QCheckBox   (included not working yet)
QRadioButton
QSlider     (included not working yet)
QGridLayout
QBoxLayout
